@import "tailwindcss";

@layer base {

  html,
  body {
    @apply h-full w-full overflow-x-hidden bg-gray-50 text-gray-900 antialiased;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Safe area padding for iPhones with notch */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.pt-safe {
  padding-top: env(safe-area-inset-top);
}